body {
    font-family: Niramit, sans-serif;
}

.navbar-brand {
    float: right;
    margin-top: -40px;
}

.navbar {
	background-color: white;
	border: 0;
}

.navbar-nav {
	margin-top: 30px;
}


/* BEER */
.thumbnail {
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5;
}

.col-md-3 {
    padding: 0;
    margin-top: 0;
}

.container {
    margin-top: 0px;
}

.container-overlay {
  position: relative;
  width: 100%;
}

.image {
  display: flex;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgb(25, 133, 161);
  background: rgba(25, 133, 161, 0.3);
}

.container-overlay:hover .overlay {
  opacity: 1;
}

.text {
  color: #4C5C68;
  font-size: 18px;
  position: relative;
  top: 70px;
  left: 142.5px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  line-height: 17px;
}

@media (max-width: 1200px) {
  .text {
    position: relative;
    top: 70px;
    left: 130px;
  }
}

@media (max-width: 992px) {
  .text {
    position: relative;
    top: 70px;
    left: 185px;
  }
}

@media (max-width: 768px) {
  .text {
    position: relative;
    top: 70px;
    left: 200px;
  }
}

.title {
    line-height: 40px;
}

.bayern {
    padding-top: 0;
    height: 100%;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /*background-color: rgb(207, 206, 206);*/
    background-color: #46494C;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #DCDCDD;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #1985A1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.active a {
    color: yellow;
}

button {
    border: none;
    margin-left: 10px;
    margin-top: 10px;
}

.fas, .fa-bars {
    font-size: 20px;
}

.copyright_text {
  height: 80px;
  text-align: center;
  padding-top: 22.5px; 
  margin-top: 60px;
  background-color: #DCDCDD;
  color: black;
}