body {
  /*background-color: rgb(107, 107, 107, 0.1);*/
  background-color: #DCDCDD;
}

.thumbnail {
	border: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.col-md-3 {
	padding: 0;
	margin-top: 0;
}

.container {
	margin-top: 15%;
}

.container-overlay {
  position: relative;
  width: 100%;
  height: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgb(107, 107, 107);
  background: rgba(107, 107, 107, 0.9);
  -webkit-transform: scale(1.15,1.15);
  -moz-transform: scale(1.15,1.15);
  transform: scale(1.15,1.15);
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  transition: .5s ease;
}

.container-overlay:hover .overlay {
  opacity: 1;
}

.text {
  color: #DCDCDD;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.col-md-3 {
  padding: 12px;
  margin-top: 0;
}

.item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.thumbnail {
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.container {
  margin-top: 15%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.item img {
    max-width: 100%;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}
.item:hover img {
    -webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    transform: scale(1.15,1.15);
}
